body{
    background-color: #EAF6F6;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

img{
    width:auto;
    max-width: 100%;
    height: auto;
}

h3{
    color: rgb(21, 160, 165);
}

h2{
    color: #177a7a;
    font-size: 2rem;
}

p{
    color: #40514E;
}

a{
    text-decoration: none;
    color: rgb(21, 160, 165);
}

hr{
    width: 15%;
    border-style: none;
    border-top-style: dotted;
    border-color:  rgb(149, 173, 182);
    border-width: 6px;
    padding: 15px 0px 15px 0px;
}

.skill-row{
    width: 70%;
    margin: 50px auto 100px auto;
    padding-bottom: 25px;
    text-align: left;
    line-height: 2;
}

.head{
    font-family: 'Raleway';
    font-size: 4.5rem;
    color: #146e6e;
    margin: 100px auto 0px auto;
}

#sub{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #177a7a;
    margin: 10px auto 20px auto;
}


#main{
    position: relative;
    padding-top: 50px;
    margin: 0px;
    background-color: #9ce0f1;
}

.profile{
    font-family: sans-serif;
    margin: 25px auto 70px auto;
    width: 75%;
    line-height: 2;
}

.images{
    position: relative;
    right: 5px;
    width: 26%;
}

.skimg{
    border-radius: 50%;
}

#comp{
    float: left;
    margin-right: 20px;
}

#net{
    float: right;
    margin-left: 15px;
}

.bot{
    background-color: rgb(238, 196, 196);
    padding: 10px 0px 10px 0px;
    margin: 0px;
}

.skills{
    padding: 25px 0px 20px 0px;
}
